{% extends 'base.html.twig' %}

{% set title = 'Adresse bearbeiten' %}

{% block content %}
    {# @var \App\Document\Address address #}
    {# @var \Symfony\Component\Form\FormInterface form #}

    <p>
        <a class="btn btn-primary" href="{{ url('address-list') }}">
            <span>zurück zur Übersicht</span>
        </a>
    </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <a class="btn btn-primary" href="{{ url('address-list') }}">
            <span>zurück zur Übersicht</span>
        </a>
        <input class="btn btn-success" type="submit" value="Adresse speichern">
    </p>
    {{ form_end(form) }}
{% endblock %}
